<div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">{{card.number}}) {{card.title}} <br /> by {{card.owner}}</h4>
            <div class="card-body">
              <p class="card-text"><a href="#" class="btn btn-danger">Not Done</a><br /><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>


<p><strong>number: </strong> {{card.number}}</p>
<p><strong>title: </strong> {{card.title}}</p>
<p><strong>type: </strong> {{card.type}}</p>
<p><strong>story: </strong> {{card.story}}</p>
<p><strong>priority: </strong> {{card.priority}}</p>
<p><strong>labels: </strong> {{card.labels}}</p>
<p><strong>status: </strong> {{card.status}}</p>
<p><strong>resolution: </strong> {{card.resolution}}</p>
<p><strong>description: </strong> {{card.description}}</p>
<p><strong>attachment: </strong> {{card.attachment}}</p>
<p><strong>owner: </strong> {{card.owner}}</p>

<br /><br /><br /><br /><br /><br />
