<p><strong>number: </strong> {{card.number}}</p>
<p><strong>title: </strong> {{card.title}}</p> 
<p><strong>type: </strong> {{card.type}}</p>
<p><strong>story: </strong> {{card.story}}</p>
<p><strong>priority: </strong> {{card.priority}}</p>
<p><strong>labels: </strong> {{card.labels}}</p>
<p><strong>status: </strong> {{card.status}}</p>
<p><strong>resolution: </strong> {{card.resolution}}</p>
<p><strong>description: </strong> {{card.description}}</p>
<p><strong>attachment: </strong> {{card.attachment}}</p>
<p><strong>owner: </strong> {{card.owner}}</p>