<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <form role="form" style="width:600px; margin: 0 auto;">
        <h1>New Story</h1>
  
        
        <div class="required-field-block">
          <input type="text" placeholder="StoryNumber" class="form-control">
          <div class="required-icon">
              <div class="text">*</div>
          </div>
      </div>
        <div class="required-field-block">
            <input type="text" placeholder="Title" class="form-control">
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
        <div class="required-field-block">
          <input type="text" placeholder="Priority" class="form-control">
          <div class="required-icon">
              <div class="text">*</div>
          </div>
      </div>
        
        <div class="required-field-block">
            <input type="text" placeholder="status" class="form-control">
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
        <div class="required-field-block">
          <input type="text" placeholder="creator" class="form-control">
          <div class="required-icon">
              <div class="text">*</div>
          </div>
      </div>
        <input type="text" placeholder="resolution" class="form-control">
 
        <div class="required-field-block">
            <textarea rows="4" class="form-control" placeholder="Description"></textarea>
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
        
        <button class="btn btn-primary">Done</button>
       
    </form>
</div>


<nav>
  &nbsp; &nbsp; <button href="#" type="button" class="btn btn-light btn-block"><a routerLink ="/stories">Go Back</a></button>
</nav>

