<h1>Project Detail</h1>

<br />
<div class="card" >
  <h2 class="card-header">
    <strong>{{story.storyName}}</strong>
  </h2>
  <div class="card-body">
    <p class="card-text">
      <a class="btn btn-info btn-sm" style='color: white'>{{story.storyId}}</a>
      &nbsp;
      <a class="btn btn-danger btn-sm" style='color: white'>{{story.resolution}}</a>
      &nbsp;
      <br />
      <br />
      {{story.description}}
    </p>
  </div>
  <div class="card-footer">
    <p><strong>Created by: </strong> {{story.creatorId}}</p>
    <a href="#" class="btn btn-success">Edit Story</a>
      &nbsp;<a href="#" class="btn btn-primary">
        Mark as Completed
      </a>
  </div>
</div>



<nav>
  &nbsp; &nbsp; <button href="#" type="button" class="btn btn-light btn-block"><a routerLink ="/stories">Go Back</a></button>
</nav>

