<div class="chat">
  <h3>Public Chat</h3>
  <div class = "chat-container" id="chatcontainer">
    <div *ngFor="let chat of chats" >
      <strong>{{chat.creatorNameSnapshot}}:</strong> {{chat.message}}
      <br />
      {{chat.timeStamp}}
      <p><p>
    </div>

  </div>
  <br />
      <form [formGroup]="chatForm" class = "form" (ngSubmit)="sendChatMessage(chatForm.value, chatForm.valid)">
        <div class = "form-group">
          <label for = "">Message</label>
          <input  maxlength="255"  id = "sendMessage" formControlName = "message" name = "name" type = "text" class = "form-control rounded-0" required>
        </div>
        <a class="clear" ngSubmit="searchAll = null">
          <span class="glyphicon glyphicon-remove"></span>
      </a>
        <div class="chat-button">
        <button type = "submit" class = "btn btn-primary float-right">Send</button>
      </div>
      </form>
</div>