<div class = "row pt-5">
  <div class = "col-md-6 mx-auto">
    <div class ="card rounded-0">
      <div class = "card-header">
        <h3 class = "mb-0">Create a card</h3>
      </div>
      <div class = "card-body">
        <form [formGroup]="createCardForm" class = "form" (ngSubmit)="createCard(createCardForm.value, createCardForm.valid)">
          <div class = "form-group">
            <label for = "">Card Name</label>
            <input formControlName = "cardName" name = "cardName" type = "text" class = "form-control rounded-0" required>
          </div>

          <div class = "form-group">
            <label for="">Type</label>
            <input formControlName = "type" name = "type" type = "text" class = "form-control rounded-0" required>
          </div>

          <div class = "form-group">
            <label for="">Priority</label>
            <input formControlName = "priority" name = "priority" type = "text" class = "form-control rounded-0" required>
          </div>

          <div class = "form-group">
            <label for="">Label</label>
            <input formControlName = "label" name = "label" type = "text" class = "form-control rounded-0" required>
          </div>

          <!--<div class = "form-group">
            <label for="">Status</label>
            <input formControlName = "status" name = "status" type = "text" class = "form-control rounded-0" required>
          </div>-->

          <div class = "form-group">
            <label for="">Resolution</label>
            <input formControlName = "resolution" name = "resolution" type = "text" class = "form-control rounded-0" required>
          </div>

<!--          <div class = "form-group">
            <label for="">Description</label>
            <input formControlName = "description" name = "description" type = "text" class = "form-control rounded-0" required>
          </div>

          <div class = "form-group">
            <label for="">Attachment</label>
            <input formControlName = "attachment" name = "attachment" type = "text" class = "form-control rounded-0" required>
          </div>
          <div class = "form-group">
            <label for="">Creator ID</label>
            <input formControlName = "creatorId" name = "creatorId" type = "text" class = "form-control rounded-0" required>
          </div>
          <div class = "form-group">
            <label for="">Assignee ID</label>
            <input formControlName = "assigneeId" name = "assigneeId" type = "text" class = "form-control rounded-0" required>
          </div>-->

            <button type = "submit" class = "btn btn-primary float-right">Create a Card</button>
        </form>
      </div>
    </div>
  </div>
</div>




<nav>
  &nbsp; &nbsp; <button href="#" type="button" class="btn btn-light btn-block"><a routerLink ="/cards">Go Back</a></button>
</nav>

