<div class="jumbotron">
  <h1>Welcome to Volcano !</h1>
  <p></p>
  <h5>The most powerful project management tool created since project management.</h5>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

</div>


<button style= "float:left; margin-left: 6px !important" class = "nav-link" routerLink = "/login" routerLinkActive = "active" type = "button" class = "btn btn-success float-right">Login</button>
<button class = "nav-link" routerLink = "/register" routerLinkActive = "active" type = "button" class = "btn btn-danger float-right">Register</button>
