<h1>Chat</h1>
<div class="row">
  <div class="col-sm-3">
    <h3>Private Chat</h3>
    <ul>
      <li><a href="#">Create</a></li> 
      <table class="table" *ngIf="team != null">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let tum of team.teamUserMemberships">
              <td>{{tum.user.username}}</td>
              <td>{{tum.user.name}}</td>
          </tr>
        </tbody>
      </table>     
    </ul>
  </div>
  <div class="col-sm-9">
    <app-chat></app-chat>
</div>
