<div *ngIf="team != null">
  <h1>{{team.teamName}}</h1>
  <h2>Members</h2>
  <br >
  <div *ngFor="let tum of team.teamUserMemberships" >
    <span *ngIf="tum.user != null">
    	<strong style='display: inline-block; min-width: 80px'>{{tum.status}}</strong>
    	<span style='display: inline-block; min-width: 120px'> {{tum.user.username}} </span>
    	<span *ngIf = "isAdmin">
    		<button class="btn btn-sm" (click)="removeFromTeam(tum.teamUserMembershipId)">Remove</button>
    		&nbsp; &nbsp;
    		<button class = "btn btn-sm btn-primary" *ngIf="tum.status != 'Admin'">Promote to Admin</button>
    	</span>
    	<br /> 
    	<hr />
    </span>
  </div>
  <button class = "btn btn-danger" (click)="leaveTeam()">Leave Team</button>
  &nbsp; &nbsp;
  <span *ngIf = "isAdmin">
  	<button class = "btn btn-danger" (click)="deleteTeam()">Delete Team</button>
  </span>
</div>