<span id = "logged-in-nav" *ngIf="user != null">
	<ul class ="navbar-nav">
		<a class = "nav-link"><strong>{{user.username}}</strong>
			<span *ngIf="team != null"> logged into <strong>{{team.teamName}}</strong> </span>
		</a>
		<a routerLink = "/teams" class = "nav-link" > Manage Teams</a>
		<a routerLink = "/login" class = "nav-link" (click)="logout()"> Log Out</a>
	</ul>
	</span>
	<span id="logged-out-nav" *ngIf="user == null">
		<ul class ="navbar-nav">
		<a class = "nav-link" routerLink = "/login" routerLinkActive = "active"> Login</a>
		<a class = "nav-link" routerLink = "/register" routerLinkActive = "active"> Register</a>
	</ul>
</span>