<div class="card volcano-story" >
  <h2 class="card-header volcano-story-header">
    <strong>{{story.title}}</strong>
  </h2>
  <div class="card-body">
    <p class="card-text">
      <a class="label label-info label-sm" style='color: white'>{{story.type}}</a>
      &nbsp;
      <a class="label label-info label-sm" style='color: white'>{{story.priority}}</a>
      &nbsp;
      <a class="label label-info label-sm" style='color: white'>{{story.labels}}</a>
      <br />
      <br />
      {{story.description}}
    </p>
  </div>
  <div class="card-footer">
    <p><strong>Created by: </strong> {{story.creator}}</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary">
        + Show Cards
      </a>
  </div>
</div>