<div class="card volcano-story" >
  <h2 class="card-header volcano-story-header">
      <strong><a href="/storyDetail/{{story.storyId}}">{{story.storyName}}</a></strong>

  </h2>



  <div class="card-body">
    <p class="card-text">
      <a class="btn btn-info btn-sm" style='color: white'>{{story.priority}}</a>
      &nbsp;
      <a class="btn btn-info btn-sm" style='color: white'>{{story.label}}</a>
      <br />
      <br />
      {{story.description}}
    </p>
  </div>
  <div class="card-footer">
    <p><strong>Created by: </strong> {{story.userId}}</p>
      <button class="btn btn-primary" data-toggle="collapse" attr.data-target="#{{story.storyId}}">+ Show Cards</button>

      <div id='{{story.storyId}}' class="collapse">
      <p><br />
              <span *ngFor="let card of story['cardsAttached']" >
                <app-card [card]="card"></app-card>
            </span>
      </p>
      </div>
  </div>
</div>


