<h1>Teams</h1>

<h2>My teams</h2>
<div *ngFor="let team of myTeams" >
  <span *ngIf = "currentTeam != null && (currentTeam.teamName == team.teamName); then thenSelect; else elseSelect">
  </span>

  <ng-template #thenSelect>
    <button class="btn btn-sm btn-primary" (click)="selectTeam(team)">Selected</button>&nbsp;
  </ng-template>

  <ng-template #elseSelect>
    <button class="btn btn-sm" (click)="selectTeam(team)">Select</button>&nbsp;
  </ng-template>

  <strong>{{team.teamName}}</strong>
  <br /> <br /> 
</div>
<br />

<h2>Teams to Join</h2>
<div *ngFor="let team of publicTeams" >
	<form [formGroup]="joinTeamForm" class = "form" (ngSubmit)="joinTeam(joinTeamForm.value, joinTeamForm.valid, team)">
		<div class = "form-group">
		  <strong style="min-width: 200px !important; display: inline-block;">&nbsp; &nbsp;{{team.teamName}}&nbsp; &nbsp;</strong>
		  <label for = "">Password</label>
		  <input style="display: inline; width: 200px; margin: 5px;" formControlName = "password" name = "password" type = "password" class = "form-control rounded-0" required>
		  &nbsp;
		  <button type = "submit" class = "btn btn-primary" style="margin-bottom: 5px;">Join</button>
		</div>
	</form> 
 	</div>
<br />

<h2>Create new team</h2>
<form [formGroup]="teamForm" class = "form" (ngSubmit)="createTeam(teamForm.value, teamForm.valid)">
	<div class = "form-group">
	  <label for = "">Team Name</label>
	  <input formControlName = "teamName" name = "teamName" type = "text" class = "form-control rounded-0" required>
	  <br />
	  <label for = "">Password</label>
	  <input formControlName = "password" name = "password" type = "password" class = "form-control rounded-0" required>
	</div>
	<button type = "submit" class = "btn btn-primary float-right">Create</button>
</form>