<div class="card volcano-card" >
  <h2 class="card-header volcano-card-header">
    <strong>{{card.title}}</strong>
  </h2>
  <div class="card-body">
    <p class="card-text">
      <a class="btn btn-info btn-sm" style='color: white'>{{card.type}}</a>
      &nbsp;
      <a class="btn btn-info btn-sm" style='color: white'>{{card.status}}</a>
      &nbsp;
       <a class="btn btn-info btn-sm" style='color: white'>{{card.priority}}</a>
       <br />
       <br />
      {{card.description}}
    </p>
  </div>
  <div class="card-footer">
    <p><strong>Assigned to: </strong> {{card.owner}}</p>
    <p><strong>story: </strong> {{card.story}}</p>
    <p><strong>labels: </strong> {{card.labels}}</p>
    <p><strong>resolution: </strong> {{card.resolution}}</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>
