<h1>Ticket Detail</h1>

<br />
<div class="card" >
  <h2 class="card-header">
    <strong>{{card.cardName}}</strong>
  </h2>
  <div class="card-body">
    <p class="card-text">
      <a class="btn btn-info btn-sm" style='color: white'>{{card.type}}</a>
      &nbsp;
      <a class="btn btn-danger btn-sm" style='color: white'>{{card.label}}</a>
      &nbsp;
      <a class="btn btn-info btn-sm" style='color: white'>{{card.resolution}}</a>
      &nbsp;
      <a class="btn btn-info btn-sm" style='color: white'>{{card.priority}}</a>
      <br />
      <br />
      {{card.description}}
    </p>
  </div>
  <div class="card-footer">
    <p><strong>Assigned to: </strong> {{card.creatorId}}</p>
    <!--<p><strong>ticket: </strong> {{card.story}}</p>
    <p><strong>btns: </strong> {{card.labels}}</p>-->
    <a href="#" class="btn btn-success">Edit Card</a>
      &nbsp;<a href="#" class="btn btn-primary">
        Mark as Completed
      </a>
  </div>
</div>

<nav>
  &nbsp; &nbsp; <button href="#" type="button" class="btn btn-light btn-block"><a routerLink ="/cards">Go Back</a></button>
</nav>

      <div class = "card-body">
        <form [formGroup]="createCardForm" class = "form" (ngSubmit)="updateCard(createCardForm.value, createCardForm.valid)">
          <div class = "form-group">
            <label for = "">Ticket Name</label>
            <input formControlName = "cardName" name = "cardName" type = "text" value = {{card.cardName}} class = "form-control rounded-4" required>
          </div>

          <div class = "form-group">
            <label for="">Type</label>
            <select formControlName = "type" name = "type" value = {{card.type}} class="form-control" id="type">
              <option>Task</option>
              <option>Bug</option>
              <option>Feature</option>

            </select>
          </div>

          <div class = "form-group">
            <label for="">Priority</label>
            <select formControlName = "priority" name = "priority" value = {{card.priority}} class="form-control" id="priority">
              <option>High</option>
              <option>Normal</option>
              <option>Low</option>
            </select>
          </div>

          <div class = "form-group">
            <label for="">Label</label>
            <select formControlName = "label" name = "label" class="form-control" value = {{card.label}} id="lavel">
              <option>Frontend</option>
              <option>Backend</option>
            </select>
          </div>

          <!--<div class = "form-group">
            <label for="">Status</label>
            <input formControlName = "status" name = "status" type = "text" class = "form-control rounded-0" required>
          </div>-->

          <div class = "form-group">
            <label for="">Resolution</label>
            <select formControlName = "resolution" name = "resolution" class="form-control" value = {{card.resolution}} id="resolution">
              <option>Incomplete</option>
              <option>In Progress</option>
              <option>Complete</option>

            </select>
          </div>

          <div class = "form-group">
            <label for="">Description</label>
            <input formControlName = "description" name = "description" type = "text" value= {{card.description}} class = "form-control rounded-4" required>
          </div>

<!--          <div class = "form-group">
            <label for="">Attachment</label>
            <input formControlName = "attachment" name = "attachment" type = "text" class = "form-control rounded-0" required>
          </div>
          <div class = "form-group">
            <label for="">Creator ID</label>
            <input formControlName = "creatorId" name = "creatorId" type = "text" class = "form-control rounded-0" required>
          </div>-->
          <div class = "form-group">
            <label for="">Assigned To</label><br />
            <select formControlName = "assigneeId" name = "assigneeId" class="form-control" id="assigneeId">
              <option value=1>Dan</option>
              <option value=5>Qian</option>
              <option value=158>Nicholas</option>
              <option value=159>Heng Guang</option>
              <option value=160>Terence</option>
            </select>
          </div>

            <button type = "submit" class = "btn btn-primary float-right">Create a Card</button>
        </form>
      </div>