.chat-container {
	width: 100%;
	text-align: left;
	height: 500px;
	overflow-y: scroll;
}

.sendbtn {
	margin-bottom: 5px;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
