<div class="chat">
  <h3>Private Chat</h3>
  <div class = "chat-container" id="chatcontainer">
    <div *ngFor="let chat of chats" >
      <strong>{{chat.creatorNameSnapshot}}:</strong> {{chat.message}}
      <button class = "button3" style = 'float: right'>Delete</button>
      <button class = "button2" style = 'float: right' >Edit</button>
      <p><p>
    </div>

  </div>
  <br />
      <form [formGroup]="chatForm" class = "form" (ngSubmit)="sendChatMessage(chatForm.value, chatForm.valid)">
        <div class = "form-group">
          <label for = "">Message</label>
          <input formControlName = "message" name = "name" type = "text" class = "form-control rounded-0" required>
        </div>
        <div class="chat-button">
        <button type = "submit" class = "btn btn-primary float-right">Send</button>
      </div>
      </form>
</div>
